<p>
  one-post works!
</p>

<h2>{{ post.title }}</h2>
<h4>{{ post.content }}</h4>
<p>-Posted By {{ post.username }} on {{ post.createdAt | date:'short' }}</p>

<h3>Leave a Comment</h3>

<span *ngFor="let comments of post.comments">
  <h5>{{ comments.comment }}</h5>
  <p>-{{ comments.username }}</p>
</span>

<form (submit)="addComment(post._id)">
  <!-- <p>{{ newComment | json }}</p> -->
  <label for="user_id">User Id:</label>
  <input type="text" name="newComment.user_id" [(ngModel)]="newComment.user_id" id="user_id">
  <label for="username">Username:</label>
  <input type="text" name="newComment.username" [(ngModel)]="newComment.username" id="username">
  <label for="comment">Comment:</label>
  <input type="text" name="newComment.comment" [(ngModel)]="newComment.comment" id="comment">

  <input type="submit">
</form>


