* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#registration_wrap {
    position: absolute;
    height: 1000px;
    width: 100%;
    background-color: #252525cc;
    opacity: 50%;
    display: none;
    text-align: center;
}

#web_cancel {
    color: white;
    font-size: 40px;
    float: right;
    margin: 20px 40px 0 0;
    cursor: pointer;
    cursor: hand;
}

#web_cancel:hover {
    color: rgb(233, 103, 103);
}

#mbl_cancel {
    display: none;
}

#registration_form {
    height: auto;
    width: 400px;
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    border: 4px solid #f2f4f6;
}

#registration_form > img {
    width: 100%;
    height: auto;
}

#confirmation_msg {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(8, 185, 8);
    margin-top: 20px;
}

.main_container {
    width: 100%;
    height: auto;
    background-color: #f1f4f6;
    text-align: center;
}

#banner {
    width: 100%;
    height: auto;
}

.forum_container {
    width: 85%;
    height: auto;
    /* background-color: burlywood; */
}

.profile_container {
    height: auto;
    width: 100%;
    background-color: #eff4f6;
    text-align: left;
}

#break {
    display: none;
}

#header > h2 {
    width: 100%;
    height: 30px;
    background-color: #1a6a9f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

*:focus {
    outline: none;
}

.errors {
    color: red;
}

#login_container {
    height: auto;
    width: 40%;
    background-color: #f0f1f1;
    border-bottom: 1px solid #ebeaea;
    margin: 10px 0 0 0;
    text-align: left;
    padding: 10px;
    display: inline-block;
    /* background-color: chocolate; */
}

input[type=text], input[type=email], input[type=password]  {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type=submit], button {
    height: 50px;
    width: 100px;
    background-color: #1a6a9f;
    font-size: 16px;
    color: white;
    cursor: pointer;
    cursor: hand;
}

input[type=submit]:hover, button:hover {
    background-color: #2591d8;
}

#register_here {
    height: auto;
    width: 40%;
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    display: inline-block;
}

#register_here > p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(58, 58, 58);
    margin-bottom: 10px;
}

#page_top {
    width: 100%;
    height: 40px;
    background-color: #b5e0f3;
    margin-top: 20px;
    text-align: center;
}

#page_top > p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(58, 58, 58);
    margin-top: 12px;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
}

#page_top > p:hover {
    color: white;
}

.main_footer {
    width: 100%;
    height: 250px;
    background-color: #2a2a2a;
    margin-top: 20px;
    text-align: center;
    padding-top: 40px;
}

.main_footer > p, .technologies > h1 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #a7a7a7;
}

.social_icon {
    height: 40px;
    width: auto;
    margin: 25px 25px 0 0;
    cursor: pointer;
    cursor: hand;
}

#footer_border {
    width: 80%;
    height: auto;
    border-bottom: 1px solid #333333;
    margin-top: 25px;
}

.technologies {
    width: 350px;
    height: 100px;
    /* background-color: darkgoldenrod; */
    margin-top: 25px;
    text-align: center;
}

.technologies > h1 {
    font-size: 14px;
}

.technologies > img {
    height: 30px;
    width: auto;
    margin: 25px 25px 0 0;
    float: left;
}

#jquery_icon {
    margin: 32px 0 0 0;
}

/* Media Queries */
@media(max-width: 768px){
    #registration_wrap {
        height: 100%;
        width: auto;
    }

    #registration_form {
        height: auto;
        width: auto;
        margin: 0 0 0 0;
        padding: 0;
    }

    #web_cancel {
        display: none;
    }

    #mbl_cancel {
        display: initial;
        float: none;
        margin: 0 10px 0 0;
    }

    #register_btn {
        margin-bottom: 10px;
        vertical-align: top;
    }

    #banner {
        display: none;
    }

    .forum_container {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #break {
        display: initial;
        color: #eef4f6;
    }

    #page_top {
        display: none;
    }

    .main_footer {
        height: auto;
        padding-top: 0 !important;
    }

    .main_footer > p, .technologies {
        display: none;
    }

    .social_icon {
        margin: 10px 20px 10px 20px !important;
    }

    #footer_border {
        display: none;
    }
}