* {
    margin: 0 auto;
    padding: 0;
}

*:focus {
    outline: none;
}

.main_container {
    width: 100%;
    height: auto;
    background-color: #f1f4f6;
    text-align: center;
}

#banner {
    width: 100%;
    height: auto;
}

.forum_container {
    width: 85%;
    height: auto;
    /* background-color: burlywood; */
}

.profile_container {
    height: auto;
    width: 100%;
    background-color: #eff4f6;
    /* border-bottom: 1px solid #ebeaea; */
}

#break {
    display: none;
}

#request_login {
    height: 200px;
}

#request_login > h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(31, 31, 31);
}

#friend_profile {
    width: 100%;
    height: auto;
    text-align: left;
}

#friend_profile > h2 {
    width: 100%;
    height: 30px;
    background-color: #1a6a9f;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

#friend_details {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ebeaea;
}

#friend_details > #avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: block;
    float: left;
    margin-right: 10px;
}

#friend_details > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1a6a9f;
    display: inline-block;
}

#logged_icon {
    height: 10px;
    width: 10px;
    background-color: #6dba00;
    border-radius: 50%;
    vertical-align: top;
    margin: 20px 0 0 10px;
    display: inline-block;
}

.friend_options_btn, .mbl_friend_options_btn {
    height: 40px;
    width: 120px;
    background-color: #1a6a9f;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: top;
    color: white;
    margin: 4px 0 0 50px;
    cursor: pointer;
    cursor: hand;
}

.mbl_friend_options_btn {
    display: none;
}

#friend_details > h3, #friend_details > h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 20px;
}

#friend_details > h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(58, 58, 58);
    margin:0 0 5px 60px;
}

#friend_details > h5 {
    margin-top: 10px;
}

#page_top {
    width: 100%;
    height: 40px;
    background-color: #b5e0f3;
    margin-top: 20px;
    text-align: center;
}

#page_top > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(58, 58, 58);
    margin-top: 12px;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
}

#page_top > p:hover {
    color: white;
}

.main_footer {
    width: 100%;
    height: 250px;
    background-color: #2a2a2a;
    margin-top: 20px;
    text-align: center;
    padding-top: 40px;
}

.main_footer > p, .technologies > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #a7a7a7;
}

.social_icon {
    height: 40px;
    width: auto;
    margin: 25px 25px 0 0;
    cursor: pointer;
    cursor: hand;
}

#footer_border {
    width: 80%;
    height: auto;
    border-bottom: 1px solid #333333;
    margin-top: 25px;
}

.technologies {
    width: 350px;
    height: 100px;
    /* background-color: darkgoldenrod; */
    margin-top: 25px;
    text-align: center;
}

.technologies > h1 {
    font-size: 14px;
}

.technologies > img {
    height: 30px;
    width: auto;
    margin: 25px 25px 0 0;
    float: left;
}

#jquery_icon {
    position: absolute;
    margin: 32px 0 0 -75px;
}

.chat_container {
    height: 350px;
    width: 400px;
    position: fixed;
    background-color: white;
    border: 1px solid #ebeaea;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15); 
    bottom: 10px;
    right: 0;
}

.chatbox{
    height: 300px;
    width: 400px;
    background-color: white;
    overflow: auto;
}

#exit_chat_btn {
    height: 20px;
    width: 20px;
    background-color: rgb(231, 89, 89);
    color: white;
    border-radius: 5px;
    margin: 2px 0 0 2px;
    position: fixed;
    cursor: pointer;
    cursor: hand;
}

.chatbox > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 15px 5px 0 5px;
}

#my_chat {
    width: auto;
    height: auto;
    background-color: #0081ff;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
    float: right;
    clear: both;
}

#friends_chat {
    width: auto;
    height: auto;
    background-color: #f1f0f0;
    color: #434950;
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
    float: left;
    clear: both;
}

#chat_controls {
    width: 100%;
    height: auto;
    /* background-color: #6dba00; */
    padding: 2px;
    border-top: 1px solid #ebeaea;
}

#chat_input {
    height: 40px;
    width: 98%;
    font-size: 14px;
    border: none;
}

input:focus {
    outline: none;
}

.chat_btn {
    display: none;
}

/* Media Queries */
@media(max-width: 768px){
    #banner {
        display: none;
    }

    .forum_container {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #request_login {
        height: 500px;
        width: 100%;
        background-color: #eef4f6;
    }

    #request_login > h4 {
        margin-top: 40px;
        display: inline-block;
    }

    #break {
        display: initial;
        color: #eef4f6;
    }

    #friend_profile {
        text-align: center;
    }

    #friend_details > #avatar {
        float: none;
        margin: 0 0 0 44%;
    }

    #friend_details > h4 {
        margin: 0 0 5px 0;
    }

    .friend_options_btn {
        display: none;
    }

    .mbl_friend_options_btn {
        display: initial;
        width: 80px;
        margin: 4px 10px 0 10px;
    }

    #page_top {
        display: none;
    }

    .main_footer {
        height: auto;
        padding-top: 0 !important;
    }

    .main_footer > p, .technologies {
        display: none;
    }

    .social_icon {
        margin: 10px 20px 10px 20px !important;
    }

    #footer_border {
        display: none;
    }

    .chat_container {
        width: 100%;
    }

    .chatbox {
        width: 100%;
    }

    #chat_input {
        width: 60%;
    }

    .chat_btn {
        display: initial;
        height: 30px;
        width: 80px;
        /* margin-top: 8px; */
    }
}