<div class="main_container">

  <img id="banner" src="/assets/img/postup_banner.jpg" alt="postUp_banner">

  <div class="news_container">

    <p id="break">break</p>

    <div class="news_header">
      <h1 id="web_title">Latest Headlines Via Top Tech Sources</h1>
      <h1 id="mbl_title">Latest Tech Headlines</h1>
    </div>

    <div id="news_subheader">
      <p id="initial_link" (click)="getNewsFromService(this._httpService.getTechCrunch())">TechCrunch</p>
      <p (click)="getNewsFromService(this._httpService.getNextBigFuture())">Next Big Future</p>
      <p (click)="getNewsFromService(this._httpService.getTechRadar())">TechRadar</p>
      <p (click)="getNewsFromService(this._httpService.getPolygon())">Polygon</p>
      <p (click)="getNewsFromService(this._httpService.getWired())">Wired</p>
      <p (click)="getNewsFromService(this._httpService.getTheVerge())">The Verge</p>
      <p (click)="getNewsFromService(this._httpService.getIgn())">IGN</p>
    </div>

    <div class="news_row" *ngFor="let article of articles">
      <a href={{article.url}} target="_blank">{{ article.title }}</a>
    </div>

    <p id="api_link">Powered by <a href="https://newsapi.org/" target="_blank">News API</a></p>

    <div id="page_top">
      <p>GO TO TOP</p>
    </div>

  </div>

  <div class="main_footer">
    <p>© 2019, Kristofer Shore. PostUp is a trademark or registered trademark of KShore Designs, Inc. in the United States of America and elsewhere. All rights reserved.</p>
    <a href="https://github.com/kshore2k" target="_blank"><img class="social_icon" src="assets/img/github_icon_dark.png" hover="assets/img/github_icon_light.png" alt="github"></a>
    <a href="https://linkedin.com/in/kristofershore" target="_blank"><img class="social_icon" src="assets/img/linkedin_square_dark.png" hover="assets/img/linkedin_square_light.png" alt="linkedIn"></a>
    <a href="http://3.16.42.130/" target="_blank"><img class="social_icon" src="assets/img/enso_dark.png" hover="assets/img/enso_light.png" alt="portfolio"></a>
    
    <div id="footer_border"></div>

    <div class="technologies">
      <h1>Technology</h1>
      <img src="assets/img/mongodb_icon.png" alt="mongoDb">
      <img src="assets/img/angular_icon.png" alt="angular">
      <img src="assets/img/node_icon.png" alt="node">
      <img id="jquery_icon" src="assets/img/jquery_icon.png" alt="jquery">
    </div>
  </div>

</div>
  
