<div class="main_container">

  <img id="banner" src="/assets/img/postup_banner.jpg" alt="postUp_banner">

  <div class="forum_container">

    <p class="username" id="not_signed_in" *ngIf="!user.username">
      Not Signed In
    </p>

    <p class="username" *ngIf="user.username">
     <span>{{ user.username }}</span> signed in
    </p>

    <div class="forum_header">
      <h1>Topic</h1>
      <div id="author_date">
        <h2>Author</h2>
        <h2>Comments</h2>
        <h2>Last Comment</h2>
      </div>
    </div>

    <table class="post_row" *ngFor="let post of posts">
        <td id="topic"><a [routerLink]="['/post', post._id ]">{{ post.title }}</a></td>
        
        <div id="post_details">
          <td id="author">
            <a *ngIf="user._id != post.user_id" [routerLink]="['/friends/',post.user_id]">{{ post.username }}</a>
            <a *ngIf="user._id == post.user_id" [routerLink]="['/profile']">{{ post.username }}</a>
          </td>
          <td id="comments"><a>{{ post.comments.length }}</a></td>
          <td *ngIf="post.comments.length > 0" id="last">
            <a *ngIf="user._id != post.comments[post.comments.length-1].user_id" [routerLink]="['/friends/',post.comments[post.comments.length-1].user_id]" id="commentor">{{ post.comments[post.comments.length-1].username }}</a>
            <a *ngIf="user._id == post.comments[post.comments.length-1].user_id" [routerLink]="['/profile']" id="commentor">{{ post.comments[post.comments.length-1].username }}</a>
            <br><a>{{ post.comments[post.comments.length-1].createdAt | date:'short' }}</a>
          </td>
        </div>
      <tr>
    </table>

    <div id="page_top">
      <p>GO TO TOP</p>
    </div>

  </div>

  <div class="main_footer">
    <p>© 2019, Kristofer Shore. PostUp is a trademark or registered trademark of KShore Designs, Inc. in the United States of America and elsewhere. All rights reserved.</p>
    <a href="https://github.com/kshore2k" target="_blank"><img class="social_icon" src="assets/img/github_icon_dark.png" hover="assets/img/github_icon_light.png" alt="github"></a>
    <a href="https://linkedin.com/in/kristofershore" target="_blank"><img class="social_icon" src="assets/img/linkedin_square_dark.png" hover="assets/img/linkedin_square_light.png" alt="linkedIn"></a>
    <a href="" target="_blank"><img class="social_icon" src="assets/img/enso_dark.png" hover="assets/img/enso_light.png" alt="portfolio"></a>
    
    <div id="footer_border"></div>

    <div class="technologies">
      <h1>Technology</h1>
      <img src="assets/img/mongodb_icon.png" alt="mongoDb">
      <img src="assets/img/angular_icon.png" alt="angular">
      <img src="assets/img/node_icon.png" alt="node">
      <img id="jquery_icon" src="assets/img/jquery_icon.png" alt="jquery">
    </div>
  </div>

</div>
