<div class="main_container">

  <img id="banner" src="/assets/img/postup_banner.jpg" alt="postUp_banner">

  <div class="forum_container">

    <p *ngIf="user.username">
      {{ user.username }} signed in
    </p>

    <div class="forum_header">
      <h1>Topic</h1>
      <div id="author_date">
        <h2>Author</h2>
        <h2>Date</h2>
      </div>
    </div>

    <table class="post_row" *ngFor="let post of posts">
      <tr>
        <td id="topic"><a [routerLink]="['/post', post._id ]">{{ post.title }}</a></td>
        <td id="author"><a [routerLink]="['/friends/',post.user_id]">{{ post.username }}</a></td>
        <td id="date"><a>{{ post.createdAt | date:'short' }}</a></td>
      </tr>
    </table>

  </div>

</div>